:root {
  --secondary-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --hover-cl: #2196f3;
  --main-font-cl: #212121;
  --secondary-font-cl: #757575;
  --bg-cl: #ffffff;
  --main-cl: #2f303a;
  --logo-black: #000;
  --button-hover: #188ce8;
  --faded-secondary-font-cl: rgba(255, 255, 255, 0.6);
  --filter-button-cl: #f5f4fa;
  --txt-wite: #ffffff;
  --portfolio-bd: #eeeeee;
  --btn-border: 4px;
}

.page {
  background-color: var(--bg-cl);
  font-family: var(--main-font);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

img {
  display: block;
}

/* header */

.top {
  border: 1px solid #ececec;
}

.top-logo {
  display: flex;
  align-items: center;
  margin-right: 93px;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--logo-black);
}

.top-logo span {
  color: var(--hover-cl);
}

.nav-cont,
.nav-list,
.top-contacts,
.navigation {
  display: flex;
}

.nav-list {
  width: 281px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav-cont {
  justify-content: space-between;
  align-items: center;
}

.top-contacts {
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.mail {
  margin-right: 50px;
}

.nav-list .link.current {
  color: var(--hover-cl);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--hover-cl);
}

.nav-list a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 80px;
  /* line-height: calc(16 / 14); */
  letter-spacing: 0.02em;
  color: var(--main-font-cl);
}

.top-contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-font-cl);
}

.top-contacts a:hover,
.top-contacts a:focus {
  color: var(--hover-cl);
}

/* hero */

.hero {
  padding: 200px;
  background-color: var(--main-cl);
}

.hero-header {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  display: block;
  width: 216px;
  min-height: 50px;
  margin: 0 auto;
  background-color: var(--hover-cl);
  cursor: pointer;
  border-radius: var(--btn-border);
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-hover);
}

.hero-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--txt-wite);
}

/* features */

.features {
  padding: 94px 0;
}

.features-list {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.features-list-item {
  flex-basis: calc(((100% - 30px) * 3) / 4);
  margin: 0;
}

.feature-header {
  margin: 0;
  margin-bottom: 10;
}
.feature {
  margin: 0;
  margin-top: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-font-cl);
}

.features-list p {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-font-cl);
}

/* spec */

.spec {
  padding: 0 215px 94px 215px;
  margin: 0;
}

.spec-header {
  margin: 0 auto 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-cl);
}

.spec-cont {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

/* team */

.team {
  padding: 94px 215px;
  background-color: #f5f4fa;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-cl);
}

.team-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.team-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-cl);
}

.team-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-cl);
}

.team-card {
  width: 270px;
  min-height: 368px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* footer */

.bottom {
  padding: 60px 0;
  background-color: var(--main-cl);
}

.footer-cont {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.bottom-logo {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--txt-wite);
}

.bottom-logo span {
  color: var(--hover-cl);
}

.bot-contacts-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.bot-contacts-list li:nth-child(-n + 2) {
  margin-bottom: 9px;
}

.bot-contacts-address {
  text-decoration: none;
  font-style: normal;
  color: var(--txt-wite);
}

.bot-contacts-address:hover,
.bot-contacts-adress:focus {
  color: var(--hover-cl);
}

.bot-contacts-item {
  text-decoration: none;
  font-style: normal;
  color: var(--faded-secondary-font-cl);
}

.bot-contacts-item:hover,
.bot-contacts-item:focus {
  color: var(--hover-cl);
}

/* Portfolio */

.filter {
  margin: 0 0 50 px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filter button {
  border: none;
  border-radius: var(--btn-border);
  min-height: 38px;
  padding: 6px 22px;

  background-color: var(--filter-button-cl);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-cl);
}

.filter button:hover,
.filter button:focus {
  background-color: var(--hover-cl);
  color: var(--txt-wite);
}

.portfolio-page {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list a {
  text-decoration: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.portfolio-item {
  height: 404px;
  flex-basis: calc((100% - 30px * 2) / 3);
}

.portfolio-img {
}

.card-caption {
  padding-left: 20px;
  padding-top: 20px;
  height: 110px;
  align-self: baseline;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-caption-header {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-font-cl);
}

.card-caption-type {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-font-cl);
}
