:root {
  --secondary-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --hover-cl: #2196f3;
  --main-font-cl: #212121;
  --secondary-font-cl: #757575;
  --bg-cl: #ffffff;
  --main-cl: #2f303a;
  --logo-black: #000;
  --button-hover: #188ce8;
  --faded-secondary-font-cl: rgba(255, 255, 255, 0.6);
  --filter-button-cl: #f5f4fa;
  --txt-wite: #ffffff;
  --portfolio-bd: #eeeeee;
  --btn-border: 4px;
  --icon-cl: #afb1b8;
}

.page {
  background-color: var(--bg-cl);
  font-family: var(--main-font);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  display: block;
}

img {
  display: block;
}

.section-header {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-cl);
}

/* header */

.top {
  width: 1600px;
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}

.top-logo {
  display: flex;
  align-items: center;
  margin-right: 93px;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--logo-black);
}

.top-logo span {
  color: var(--hover-cl);
}

.nav-cont,
.nav-list,
.top-contacts,
.navigation {
  display: flex;
}

.nav-cont {
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;

  gap: 50px;
  margin: 0;
  padding: 0;
}

.nav-studio,
.nav-portfolio,
.nav-contacts {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.top-contacts {
  padding: 0;
  margin: 0;
  align-items: center;
}

.mail {
  margin-right: 50px;
}

.nav-list .link.current {
  color: var(--hover-cl);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  display: inline-block;
  background-color: var(--hover-cl);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--hover-cl);
}

.nav-studio,
.nav-portfolio,
.nav-contacts {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;

  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-font-cl);
}

.mail,
.tel {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--secondary-font-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-font-cl);
}

.top-contacts a:hover,
.top-contacts a:focus {
  color: var(--hover-cl);
}

/* hero */

.hero {
  background-color: var(--main-cl);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroimg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 1600px;
  margin: 0 auto;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-header {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  display: block;
  width: 216px;
  min-height: 50px;
  margin: 0 auto;
  background-color: var(--hover-cl);
  cursor: pointer;
  border-radius: var(--btn-border);
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-hover);
}

.hero-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--txt-wite);
}

/* features */

.features {
  padding: 94px 0;
}

.features-list {
  display: flex;
  flex-basis: calc((100%-30px * 3) / 4);
  gap: 30px;
  padding: 0;
  margin: 0;
}

.features-list-item {
  margin: 0;
}

.feature-icon-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--filter-button-cl);
  border-radius: 4px;
}

.feature-icon {
  fill: var(--main-font-cl);
}

.feature-header {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-font-cl);
}
.feature {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-font-cl);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* spec */

.spec {
  padding: 0 0 94px 0;
  margin: 0;
}

.spec-header {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-cl);
}

.spec-cont {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.spec-img {
  max-width: 100%;
  height: auto;
}

/* team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-cl);
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  padding: 0;
  margin: 0;
}

.team-member-img {
  width: 100%;
  height: auto;
}

.team-member-name {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-cl);
}

.team-member-role {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-cl);
}

.team-card {
  flex-basis: calc((100%-30px * 3) / 4);
  background-color: var(--bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-card-caption {
  padding-top: 30px;
  padding-bottom: 30px;
}

.socials {
  margin: 0;

  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  background-color: var(--bg-cl);
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--hover-cl);
  fill: var(--bg-cl);
}

.social-icon {
  fill: var(--icon-cl);
}

/* clients */

.clients {
  background-color: var(--bg-cl);
  padding: 94px 0;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  padding: 0;
  margin: 0;
}

.client-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc((100%-30px * 5) / 6);
  border: 1px solid var(--icon-cl);
  border-radius: 4px;
}

.logo-icon {
  display: block;
  margin: 16px 32px;
  fill: var(--icon-cl);
}

.client-logo:hover,
.client-logo:focus {
  border-color: var(--hover-cl);
}

.client:hover .logo-icon,
.client:focus .logo-icon {
  fill: var(--hover-cl);
}

/* footer */

.bottom {
  padding: 60px 0;
  background-color: var(--main-cl);
}

.footer-cont {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 70px;
}

.bottom-logo {
  display: block;
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--txt-wite);
}

.bottom-logo span {
  color: var(--hover-cl);
}

.bot-contacts-list {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.bot-contacts-list li:nth-child(-n + 2) {
  margin-bottom: 9px;
}

.bot-contacts-address {
  text-decoration: none;
  font-style: normal;
  color: var(--txt-wite);
}

.bot-contacts-address:hover,
.bot-contacts-adress:focus {
  color: var(--hover-cl);
}

.bot-contacts-item {
  text-decoration: none;
  font-style: normal;
  color: var(--faded-secondary-font-cl);
}

.bot-contacts-item:hover,
.bot-contacts-item:focus {
  color: var(--hover-cl);
}

.bot-socials-header {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  color: var(--bg-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.bot-socials {
  margin: 0;

  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bot-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.bot-social-icon {
  fill: var(--bg-cl);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--hover-cl);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--bg-cl);
}

/* Portfolio */

.filter {
  margin: 0 0 50px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filter button {
  border: none;
  margin: 0;

  border-radius: var(--btn-border);
  min-height: 38px;
  padding: 6px 22px;

  background-color: var(--filter-button-cl);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-cl);
}

.filter button:hover,
.filter button:focus {
  background-color: var(--hover-cl);
  color: var(--txt-wite);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-page {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-item-link {
  text-decoration: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.portfolio-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-caption {
  padding: 20px 24px;
  align-self: baseline;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-caption-header {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-font-cl);
}

.card-caption-type {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-font-cl);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  opacity: 1;
  transform: translateY(0%);
  scale: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear,
    transform 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  height: 580px;
  background-color: var(--bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateY(-100%);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  background-color: var(--bg-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
