:root {
  --secondary-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --hover-cl: #2196f3;
  --main-font-cl: #212121;
  --secondary-font-cl: #757575;
  --bg-cl: #ffffff;
  --main-cl: #2f303a;
  --logo-black: #000;
  --button-hover: #188ce8;
  --faded-secondary-font-cl: rgba(255, 255, 255, 0.6);
  --filter-button-cl: #f5f4fa;
  --txt-wite: #ffffff;
}

.page {
  background-color: var(--bg-cl);
  font-family: var(--main-font);
}

.top-logo {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--logo-black);
}

.top-logo span {
  color: var(--hover-cl);
}

.list {
  list-style: none;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--hover-cl);
}

.nav-list a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-font-cl);
}

.top-contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-font-cl);
}

.top-contacts a:hover,
.top-contacts a:focus {
  color: var(--hover-cl);
}

.hero {
  background-color: var(--main-cl);
}

.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  background-color: var(--hover-cl);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-hover);
}

.hero-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--txt-wite);
}

.features-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-font-cl);
}

.features-list p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-font-cl);
}

.spec-header {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-cl);
}

.team {
  background-color: #f5f4fa;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-cl);
}

.team-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-cl);
}

.team-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-cl);
}
