.checkbox{
  display: flex;
  margin-bottom: 30px;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;


&:checked + .checkbox__icon .icon-checked {
  opacity: 1;
}

&:checked + .checkbox__icon .icon-unchecked {
  opacity: 0;
}
}
.icon-checked {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-unchecked {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-font-cl);
}

.checkbox__link {
  color: var(--hover-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover {
  color: #165f9a;
}
}