.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 70px;
}

.portfolio__container {
  padding-top: 94px;
  padding-bottom: 94px;
}