.sub-form {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    text-align: left;
  }
}

.sub-form__title {
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-cl);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.sub-form__field {
  text-align: center;
  @media screen and (max-width: 1199px) {
    display: block;
  }
}

.sub-form__input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (max-width: 481px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  &:focus {
    border-color: var(--button-hover);
  }
}

.sub-form__btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  // background-color: var(--hover-cl);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: none;
  background-color: var(--button-hover);
  cursor: pointer;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--bg-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-cl);
  }

  &::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
  }
}
