.submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  background-color: var(--hover-cl);
  border: none;
  color: var(--bg-cl);
  cursor: pointer;

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover {
  background-color: var(--button-hover);
}
}